#!/bin/sh
#
# Aliases that are POSIX compatibile 
#

case $(uname) in
    Linux)
        alias s='sudo'
        alias doas='sudo'
        ;;
    OpenBSD)
        alias sudo='doas'
        alias d='doas'
        ;;
esac

# main aliases
alias g='git'
alias v='vim'
alias t='tmux'
alias p='python'

# googledrive
alias mgd='google-drive-ocamlfuse ~/google/drive'
alias umgd='fusermount -u ~/google/drive'

# sudo apt install trans-shell
# translating english - italian
alias iten='trans -s it -t en'
alias enit='trans -s en -t it' 
alias proxy='export http_proxy=http://10.158.100.120:8080; export https_proxy=http://10.158.100.120:8080'
alias cdrep="cd ~/rp/reporting-portal/"
alias cdreps="cd ~/rp/reporting-portal/src/"

# 3rd
alias feh='feh -X -s -Z --scale-down --title "%n [%wx%h][%u/%l]"'

# run & close term
swallow() {
    nohup "$@" &>/tmp/nohup.out &
    exit
}

# Find in path 
frep() {
    if [[ -x "$(command -v rg)" ]]; then
        rg "$1" $pwd --line-number
    else
        grep -r "$1" $pwd --line-number
    fi
}

up(){
    local d=""
    limit=$1

    c=1
    while [[ $c -le $limit ]]
    do
        d=$d/..
        let c=c+1
    done

    d=$(echo $d | sed 's/^\///')
    if [ -z "$d" ]; then
        d=..
    fi

    cd $d
}
