#!/bin/sh
#
# Aliases that are POSIX complaint
#
case $(uname) in
    Linux)
        alias s='sudo'
        alias doas='sudo'
        ;;
    OpenBSD)
        alias d='doas'
        alias sudo='doas'
        ;;
    FreeBSD)
        # I will switch to doas, I promise
        # but I need that 'persist' feature first.
        alias d='sudo'
        alias doas='sudo'
        ;;
esac

alias h='fc -l'
alias j=jobs
# ask when removing more files
alias cp='cp -ip'
alias mv='mv -i'
alias rm='rm -I'

# main aliases
alias g='git'
alias v='vim'
alias t='tmux'
alias p='python'

# googledrive
alias mgd='google-drive-ocamlfuse ~/google/drive'
alias umgd='fusermount -u ~/google/drive'

# work
alias proxy='export http_proxy=http://10.158.100.120:8080; export https_proxy=http://10.158.100.120:8080'

# 3rd
alias feh='feh -X -s -Z --scale-down --title "%n [%wx%h][%u/%l]"'
alias ..='cd ..'

swallow() {
    # run cmd in bg & close term
    nohup "$@" &>/tmp/nohup.out &
    exit
}

frep() {
    # fast find in path
    if [[ -x "$(command -v rg)" ]]; then
        rg "$1" $PWD --line-number
    else
        grep -nr "$1" $PWD
    fi
}

up(){
    # cd ../.. == up 2
    local d=""
    limit=$1

    c=1
    while [[ $c -le $limit ]]
    do
        d=$d/..
        let c=c+1
    done

    d=$(echo $d | sed 's/^\///')
    if [ -z "$d" ]; then
        d=..
    fi

    cd $d
}

workon(){
    # no need for virtualenv-wrapper
    VIRTUALENVS_PATH=${WORKON_HOME:-"~/.virtualenvs"}
    if [ $# -eq 0 ]; then
        /bin/ls $VIRTUALENVS_PATH
    else
        . "$VIRTUALENVS_PATH/$1/bin/activate"
        if [ -f "$VIRTUALENVS_PATH/$1/bin/post_activate" ]; then
            . "$VIRTUALENVS_PATH/$1/bin/post_activate"
        fi
    fi
}

branch() {
    git branch --all | fzf | grep -Eo "[^ *]+"
}
