[credential]
	helper = store
[core]
	excludesfile = ~/.gitignore
[alias]
    s = status
	st = status --untracked-files=no
	l = log
    gl = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    a = add
    fixup = !git add . -u && git commit --amend --no-verify && git push origin "$(git symbolic-ref --short -q HEAD)" --force
[include]
	path = ~/.gitproxy
	path = ~/.gitname
[user]
	name = drozdowsky
	email = hubert.drozdowski@mirumee.com
