[credential]
	helper = cache --timeout=99999999999
[core]
	excludesfile = ~/.gitignore
[branch "master"]
	rebase = true
[alias]
	s = status --untracked-files=no
[include]
	path = ~/.gitproxy
	path = ~/.gitname
